<div style="text-align: center;">
    <div class="title">
       <h2><b>{{snackdetails[0].name}}</b></h2> 
       <br><br>
    </div>
    <div style="align-items: center;">
        <img src="{{snackdetails[0].img}}" height="400"  width="400">
    </div><br><br>
    <div class="des">   
        <i>{{snackdetails[0].recepie}}</i>
    </div><br><br><br> 
    <iframe width="570" height="330" [src]="vdoUrl + snackdetails[0].link + '?autoplay=1&vq=hd720' | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br><br> 
    
     
</div><br><br>
