<div style="align-items: center;">
  <div class="des">   
<p> <i>New on all Recipes: Order Your Recipe Ingredients Online With One Click</i></p><br><br>
</div>
</div>

<div class="container text-center">
    <div class="row">
     <div class="col" *ngFor="let item of ingredientsdb">
       <div class="card" style="width: 20rem;">
         <img src="{{item.img}}" class="card-img-top" alt=""width="350"height="250">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5><br>
            <h5 class="card-title">{{item.price}}</h5>
           <a (click)="gotoingredientspage(item.name)" class="btn btn-primary">Order Now</a>
        </div>
      </div>
    </div>
  </div>
  </div>


